@tailwind base;
@tailwind components;
@tailwind utilities;

.main-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(0, 10fr) 0.75fr;
  grid-template-areas:
    "navbar mainpage queue"
    "nowplaying nowplaying nowplaying";
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

/* on hover of scrollbox class, make scrollbar thumb #888 */
.scrollbox:hover::-webkit-scrollbar-thumb {
  background: #888;
  visibility: visible;
  /* fade in */
  transition: background 0.5s ease-in-out;
  transition: visibility 0s 0.5s;
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  visibility: hidden;
  transition: visibility 0.5s;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  color: white;
}